<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<nav class="navbar bg-dark" *ngIf="isHeaderVisible">
  <div class="container-fluid">
    <form
      class="d-flex"
      role="search"
      (submit)="search($event, searchInput.value)"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        #searchInput
      />
      <button class="btn btn-outline-primary" #value type="search">
        Search
      </button>
    </form>
    <div class="github">
      <a href="https://github.com/Luka288" class="d-flex correct">
        <span>
          <i class="fa-brands fa-github" style="color: #ffffff"></i>
        </span>
        Luka288
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
