@import "../../shared/styles/mixins/mixins.scss";
@import "../../shared/styles/variables/variables.scss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 10prgb (160, 160, 160);
}

main {
  width: 100%;
  min-height: 100vh;
  font-family: $main-font-roboto;
  background-color: $main-background-color;

  .header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    @include flex(space-between, center, row);

    .hourly {
      width: 200px;
      min-width: 200px;
      height: 100vh;
      min-height: 950px;
      background-color: #0a122a;
      color: $white-text;
      overflow-y: scroll;

      .hourlyWeather {
        text-align: center;
        border-bottom: 3px solid gainsboro;
      }
    }

    .secondBox {
      width: 87%;

      .mainInfo {
        width: 100%;
        height: 400px;
        @include flex();
        color: $white-text;

        .city {
          font-size: 43px;
          text-transform: capitalize;
          font-weight: 370;
          color: $white-text;
        }

        .underHeader {
          @include flex($justify: space-between, $direction: row);
          gap: 5px;

          p {
            color: $white-text;
            font-size: 10px;
            font-weight: 250;
          }

          .Temp {
            font-size: 37px;
            font-weight: 350;

            .celsius {
              font-size: 16px;
            }
          }

          img {
            width: 65px;
            height: 65px;
          }
        }
        .condition {
          font-size: 16px;
          font-weight: 270;
        }
      }

      .foreCasts {
        width: 100%;
        height: 450px;
        padding-top: 40px;
        @include flex();

        .container {
          width: 80%;
          height: 220px;
          @include flex(left, baseline, row);
          gap: 30px;
          overflow-y: hidden;
          overflow-x: scroll;

          .Card {
            @include flex(center, flex-start, column);
            flex-wrap: wrap;
            width: 350px;
            color: $white-text;

            .cityIcon {
              text-transform: capitalize;
              @include flex(center, center, row);
              font-size: 25px;

              img {
                width: 40px;
                height: 40px;
              }
            }

            .desc {
              font-weight: 240;
              font-size: 12px;
              width: 100px;
            }

            .date {
              font-size: 16px;
            }
          }
        }

        .title {
          width: 80%;

          .titleText {
            color: $white-text;
            padding-bottom: 30px;
            font-size: 30px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .wrapper {
      .foreCasts {
        width: 400px;
        height: 450px;
        padding-top: 40px;
        @include flex();

        .container {
          width: 400px !important;
        }
      }
    }
  }
}
