@import "../../shared/styles/mixins/mixins.scss";
@import "../../shared/styles/variables/variables.scss";

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  font-family: $main-font-roboto;
  background-color: $main-background-color;

  .mainInfo {
    width: 100%;
    height: 200px;
    @include flex();
    color: $white-text;

    .city {
      text-transform: capitalize;
      font-weight: 370;
      color: $white-text;
    }

    .underHeader {
      @include flex($justify: space-between, $direction: row);
      gap: 5px;

      p {
        color: $white-text;
        font-size: 10px;
        font-weight: 250;
      }

      .Temp {
        font-size: 31px;
        font-weight: 350;

        .celsius {
          font-size: 16px;
        }
      }

      img {
        width: 60px;
        height: 60px;
      }
    }
    .condition {
      font-size: 16px;
      font-weight: 270;
    }
  }

  .foreCasts {
    width: 100%;
    @include flex();
    padding-top: 40px;

    .container {
      width: 80%;
      height: 220px;
      @include flex(left, center, row);
      gap: 30px;
      overflow-y: hidden;
      overflow-x: scroll;

      .card {
        @include flex(center, flex-start, column);
        flex-wrap: wrap;
        width: 150px;
        color: $white-text;

        .cityIcon {
          text-transform: capitalize;
          @include flex(center, center, row);

          img {
            width: 30px;
            height: 30px;
          }
        }

        .desc {
          font-weight: 240;
          font-size: 10px;
          width: 100px;
        }

        .date {
          font-size: 10px;
        }
      }
    }
  }
}
