<main>
  <video
    autoplay
    loop
    [muted]="'muted'"
    [src]="setBg()"
    class="bgVideo"
  ></video>

  <div class="searchBar" *ngIf="searchBar">
    <div class="inputs">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        #searchInput
        (search)="loadWeather(searchInput.value)"
      />
      <button
        class="btn btn-outline-primary"
        #value
        type="search"
        (click)="loadWeather(searchInput.value)"
      >
        Search
      </button>
    </div>
    <p>geo location access denied search the location u want to see</p>
  </div>
  <div class="wrapper" *ngIf="searchLocation">
    <div class="hourly">
      <div class="hourlyWeather" *ngFor="let item of hourly">
        <p>
          {{ item.datetimeEpoch | dateFormat }}
        </p>
        <p>
          {{ item.datetime }}
        </p>
        <p>{{ item.temp | roundTemp }} °C</p>
        <p>{{ item.conditions }}</p>
      </div>
    </div>

    <div class="secondBox">
      <div class="upperContainer">
        <div class="mainInfo">
          <h1 class="city">
            <span class="cityAdress">
              {{ displayWeather?.address }}
            </span>
            {{ displayWeather?.resolvedAddress }}
          </h1>
          <div class="underHeader">
            @if (displayWeather?.currentConditions?.conditions) {
            <img
              *ngIf="displayWeather?.currentConditions?.icon"
              [src]="getWeatherIcon(displayWeather?.currentConditions?.icon)"
              alt="Weather-icon"
            />
            }
            <p class="Temp">{{ displayWeather?.currentConditions?.temp }} °C</p>
          </div>
          <p class="condition">
            {{ displayWeather?.currentConditions?.conditions }}
          </p>
        </div>
      </div>
      <div class="windSpeedEtc">
        <p>
          Wind speed: {{ displayWeather?.currentConditions?.windspeed }} M/S
        </p>
        <p>Wind Direction: {{ displayWeather?.currentConditions?.winddir }}°</p>
      </div>
      <div class="foreCasts" *ngIf="displayWeather && searchLocation">
        <div class="title">
          <p class="titleText">15 day fore cast</p>
        </div>
        <div class="container">
          <div class="Card" *ngFor="let weather of displayWeather?.days">
            <p class="date">
              {{ weather.datetime }}
            </p>
            <p class="cityIcon">
              {{ displayWeather.address }}
              <span> <img [src]="getWeatherIcon(weather.icon)" alt="" /></span>
            </p>
            <p>{{ weather.temp }} °C</p>
            <p class="desc">
              {{ weather.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
